name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      TF_IN_AUTOMATION: "true"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: Terraform fmt
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform test
        run: terraform test -filter=tests/plan_mock.tftest.hcl

      - name: Initialize TFLint plugins
        run: tflint --init

      - name: Run TFLint
        run: tflint --recursive
