name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.4

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: Terraform fmt (check)
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform test (plan + mocks)
        run: terraform test -filter=tests/plan_mock.tftest.hcl

      - name: Terraform test (defaults)
        run: terraform test -filter=tests/defaults.tftest.hcl

      - name: TFLint init
        run: tflint --init

      - name: TFLint
        run: tflint --recursive
